<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
  
  

<ion-card color="light"> 
  <ion-card-header>
    <div class="header-content">
      <div class="text-content">
        <ion-card-title class="custom-title">Olá!</ion-card-title>
        <p class="greeting-text">Que tal reservar um momento para cuidar de você agora?</p>
      </div>
      <img src="assets/Enthusiastic-cuate.png" alt="Imagem" class="header-image">
    </div>
  </ion-card-header>
</ion-card>
<div class="floating-divider"></div>


  <div class="suggestions">
    <h6> <strong>Sugestões de hábitos para tornar o seu dia mais incrível:</strong></h6>
  </div>


  <ion-card class="rounded-card">
    <ion-card-header>
      <div class="card-header-content">
        <!-- Imagem no canto esquerdo -->
        <img src="assets/Mindfulness-amico.png" alt="Imagem Meditação" class="card-image" />
        <div>
          <!-- Título -->
          <ion-card-title class="small-title">Meditação:</ion-card-title>
          <!-- Subtítulo -->
          <p class="card-subtitle">Comece com 5-10 minutos de meditação guiada ou simplesmente sente-se em silêncio, focando na respiração.</p>
        </div>
      </div>
    </ion-card-header>
  </ion-card>


  <ion-card class="rounded-card">
    <ion-card-header>
      <div class="card-header-content">
        <img src="assets/Todolist-cuate.png" alt="Imagem Planejar o Dia" class="card-image" />
        <div>
          <ion-card-title class="small-title">Planejar o Dia:</ion-card-title>
          <p class="card-subtitle">Faça uma lista de tarefas prioritárias e organize seu dia em blocos de tempo.</p>
        </div>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-card class="rounded-card">
    <ion-card-header>
      <div class="card-header-content">
        <img src="assets/Workout.png" alt="Exercícios Físicos" class="card-image" />
        <div>
          <ion-card-title class="small-title">Exercícios Físicos:</ion-card-title>
          <p class="card-subtitle">Opte por uma atividade que você goste, como caminhada, yoga ou treinos intensos, sempre ajustados ao seu ritmo.</p>
        </div>
      </div>
    </ion-card-header>
  </ion-card>

  <ion-card class="rounded-card">
    <ion-card-header>
      <div class="card-header-content">
        <img src="assets/pausas.png" alt="Pausas" class="card-image" />
        <div>
          <ion-card-title class="small-title">Fazer pausas regulares:</ion-card-title>
          <p class="card-subtitle">Pausas curtas ajudam a prevenir o cansaço mental e físico, aumentando a produtividade.</p>
        </div>
      </div>
    </ion-card-header>
  </ion-card>
  
  <ion-footer>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="noticias">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Notícias</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="diario">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Diário</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="mapa">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="videos">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Vídeos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-footer>
  

  